<!DOCTYPE html>
<html>
  <head>
    <title>DeviseEg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <p class="alert"><%= alert %></p>
   <p class="notice"><%= notice %></p>
   <% if current_user.nil? %>
      <%= link_to "Sign In", new_user_session_path %>
    <% else %>
      <%= link_to  "Cerrar Sesión", destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
